.TodoItem{
    display: grid;
    grid-template-columns: auto 300px auto;
    column-gap: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bold;
    background-color: #1f1c1c;
}

.Icon-check:hover{
    cursor: pointer;
    color: white;
}

.Icon-delete:hover{
    color: red;
    cursor: pointer;
}

.TodoItem-p--complete{
    text-decoration: line-through;
}

.Icon-check--active{
    color: lawngreen;
}

p{
    font-weight: lighter;
    color: #decccc;
}

@media (max-width: 480px) {
    .TodoItem{
        grid-template-columns: auto 250px auto;
    }
}